body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;


    font-size: 16px;
    line-height: 1.6;
    color: #000;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
    margin-left: 80px;

    display: grid;
    position: absolute;
}



.header {
    width: 100%;
    height: 60px;

    background: #fff;
    color: #000;
    border-bottom: 3px solid #bfbfbf;

    position: fixed;
    display: flex;

    padding-left: 50px;

    z-index: 1;
}

.header__logo {
    width: 80px;
    height: 48px;

    margin-top: 5px;
    margin-right: 40vw;
}

.header__pages {
    margin-left: 80px;
    margin-top: 15px;

    color: #000;

    font-size: 18px;
    text-decoration: none;
}
.header__pages:hover {
    cursor: pointer;
}

.header__new-post {
    margin-left: 100px;
    margin-top: 10px;

    width: 100px;
    height: 40px;

    border: 1px solid #000;
    color: #000;

    font-size: 14px;
    text-decoration: none;

    text-align: center;
    align-content: center;

}
.header__new-post:hover {
    border: 1px solid #737373;
    cursor: pointer;
}


.subcontainer {
    display: grid;
}

.form-control {
    margin-top: 20px;

    border: 1px solid #000;
    border-radius: 2px;


    width: 300px;
    height: 25px;

    font-size: 18px;
}

.btn_submit {
    margin-top: 35px;
    margin-bottom: 50px;

    border: 2px solid #000;
    border-radius: 2px;

    width: 200px;
    height: 40px;
}


.post-button {
    margin-top: 50px;

    display: flex;
    text-decoration: none;
    border: 2px solid #999999;
    border-radius: 3px;

    color: #000;

    padding-left: 20px;
    align-items: center;
}
.post-button:hover {

}


.author {
    color: #7a7a7a;
}


.comment {
    width: 400px;

    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 2px solid #bfbfbf;
}

.line {
    height: 2px;
    width: 90%;

    background-color: #000;

    margin-top: 50px;
    margin-bottom: 50px;
}