<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новий допис</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="header">
    <a href="/">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Логотип" class="header__logo">
    </a>

    <a href="\" class="header__pages">Головна</a>
    <a href="\about" class="header__pages">Про 4uah</a>
    <a href="\create-post" class="header__new-post">Створити</a>
</div>

<div class="container">
    <h1>Створнити новий допис</h1>
    <form method="post" class="subcontainer">
        <input placeholder="Назва допису" type="text" name="title" id="title" class="form-control">
        <textarea placeholder="Текст" name="text_" class="form-control" style="height: 70px;"></textarea>
        <input value="Anonim" type="text" name="author" class="form-control">
        <input type="submit" class="btn_submit" value="Опублікувати">
    </form>
</div>

</body>
</html>